.container {
  /* margin-top: -100px; */
  width: auto;
  /* padding: 30px; */
  display: flex;
  flex-direction: column;
  align-items: center;
  /* justify-content: center; */
  margin-top: 50px;
  gap: 30px;
  font-family: "S-CoreDream-3Light";
  -webkit-user-select: none;
  -moz-user-select: none;
  -ms-user-select: none;
  user-select: none;
  .header {
    width: 100%;
    position: relative;
    display: flex;
    justify-content: center;
    & > .headerCenter {
      width: 250px;
      position: relative;
      display: flex;
      align-items: center;
      justify-content: center;
      gap: 20px;
      .todayBtn {
        position: absolute;
        top: 50%;
        /* right: 38%; */
        right: -20%;
        transform: translateY(-50%);
        border: none;
        padding: 4px 8px;
        border-radius: 4px;
        font-family: "S-CoreDream-3Light";
        cursor: pointer;
        background: rgba(245, 245, 220, 0.75);
        font-size: 16px;
        color: #333;
        &.disable {
          opacity: 70%;
          cursor: default;
        }
      }
    }
    h3 {
      font-weight: 400;
    }
    span {
      margin-top: 6px;
      cursor: pointer;
      font-size: 20px;
      color: rgb(215, 66, 40);
    }
    .addBtn {
      position: absolute;
      bottom: 0;
      left: 0;
      & > button {
        border: none;
        padding: 4px 8px;
        border-radius: 4px;
        font-family: "S-CoreDream-3Light";
        cursor: pointer;
        background: rgba(245, 245, 220, 0.75);
        font-size: 16px;
      }
    }
    .changeBtn {
      position: absolute;
      bottom: 0;
      right: 0;
      display: flex;
      gap: 10px;
      & > button {
        border: none;
        padding: 4px 8px;
        border-radius: 4px;
        font-family: "S-CoreDream-3Light";
        cursor: pointer;
        background: rgba(245, 245, 220, 0.35);
        font-size: 16px;
        &.active {
          background: rgba(245, 245, 220, 0.75);
        }
      }
    }
  }
  .table {
    border: 1px solid #000;
    border-collapse: collapse;
    thead td {
      background: rgba(245, 245, 220, 0.75);
      height: 50px;
      text-align: center;
    }
    & td {
      border: 1px solid #ccc;
      width: 160px;
      height: 110px;
      padding: 10px;
      &:nth-child(1),
      &.holiday {
        color: tomato;
      }
      &:last-child {
        color: rgb(44, 44, 221);
      }
    }
    .day {
      vertical-align: top;
    }
    .weekDay {
      height: 550px;
    }
    .grey {
      background: rgba(128, 128, 128, 0.1);
      opacity: 0.5;
    }
    .today {
      background: rgba(135, 206, 235, 0.3);
    }
    .holiday {
      color: tomato !important;
      background: rgba(255, 99, 71, 0.1);
    }
    .holidayName {
      color: tomato;
      margin-left: 6px;
      font-size: 12px;
    }
  }
}
