.container {
  /* margin-top: -100px; */
  width: 100%;
  /* padding: 30px; */
  display: flex;
  flex-direction: column;
  align-items: center;
  /* justify-content: center; */
  margin-top: 50px;
  gap: 30px;
  font-family: "S-CoreDream-3Light";
  -webkit-user-select: none;
  -moz-user-select: none;
  -ms-user-select: none;
  user-select: none;
  .header {
    display: flex;
    gap: 20px;
    align-items: center;
    h3 {
      font-weight: 400;
    }
    span {
      margin-top: 6px;
      cursor: pointer;
      font-size: 20px;
      color: rgb(215, 66, 40);
    }
  }
  .table {
    border: 1px solid #000;
    border-collapse: collapse;
    thead td {
      background: rgba(245, 245, 220, 0.75);
      height: 50px;
      text-align: center;
    }
    & td {
      border: 1px solid #ccc;
      width: 160px;
      height: 110px;
      padding: 10px;
      &:nth-child(1),
      &.holiday {
        color: tomato;
      }
      &:last-child {
        color: rgb(44, 44, 221);
      }
    }
    .day {
      vertical-align: top;
    }
    .grey {
      background: rgba(128, 128, 128, 0.1);
      opacity: 0.5;
    }
    .today {
      background: rgba(135, 206, 235, 0.3);
    }
    .holiday {
      color: tomato !important;
      background: rgba(255, 99, 71, 0.1);
    }
    .holidayName {
      color: tomato;
      margin-left: 6px;
      font-size: 12px;
    }
  }
}
