@import url("./variable.css");
@import url("./levels.css");

@font-face {
  font-family: "Cafe24Ssurround";
  src: url("https://fastly.jsdelivr.net/gh/projectnoonnu/noonfonts_2105_2@1.0/Cafe24Ssurround.woff")
    format("woff");
  font-weight: normal;
  font-style: normal;
}

@font-face {
  font-family: "S-CoreDream-3Light";
  src: url("https://fastly.jsdelivr.net/gh/projectnoonnu/noonfonts_six@1.2/S-CoreDream-3Light.woff")
    format("woff");
  font-weight: normal;
  font-style: normal;
}

/* @font-face {
  font-family: "FONTTEST";
  font-weight: 200;
  src: url("../../public/font/HJ한전서B.ttf") format("truetype");
} */

html {
  font-size: 16px;
}

html,
body {
  max-width: 100vw;
  overflow-x: hidden;
  /* height: 1400px; */
}

section {
  margin-left: 200px;
  margin-top: 60px;
}

* {
  box-sizing: border-box;
  padding: 0;
  margin: 0;
}

a {
  color: inherit;
  text-decoration: none;
}

ul,
li {
  list-style: none;
}
