.container {
  width: calc(100vw - 200px);
  height: calc(100vh - 60px);
  background: rgba(100, 100, 100, 0.1);
  position: absolute;
  top: 0;
  left: 0;
  display: flex;
  justify-content: center;
  align-items: center;
  z-index: 10;
  .mainBox {
    background: #fff;
    border-radius: 10px;
  }
  .title {
    font-size: 20px;
    font-weight: bold;
    margin-bottom: 20px;
    padding: 10px 30px;
    background: beige;
    border-radius: 10px 10px 0 0;
    display: flex;
    justify-content: space-between;
    align-items: center;
    & > p:nth-child(2) {
      font-size: 14px;
      cursor: pointer;
      position: relative;
      & > span {
        opacity: 0;
        position: absolute;
        bottom: 20%;
        left: 150%;
        word-break: keep-all;
        background: lightgrey;
        padding: 2px 4px;
        transition: all 0.3s;
      }
      &:hover {
        & > span {
          opacity: 1;
        }
      }
    }
  }
}
