.container {
  width: calc(100vw - 200px);
  height: calc(100vh - 60px);
  background: rgba(100, 100, 100, 0.1);
  position: absolute;
  top: 0;
  left: 0;
  display: flex;
  justify-content: center;
  align-items: center;
  z-index: 10;
  .mainBox {
    background: #fff;
    width: 400px;
    height: 500px;
    padding: 20px;
  }
}
